<!DOCTYPE HTML>
<html>

<head>
	<title>The Condition of CHINA</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
</head>

<body>

	<!-- Header -->
	<header id="header">
		<div class="logo"><a href="#">China<span> its conditions in this pandemic</span></a></div>
	</header>

	<!-- Main -->
	<section id="main">
		<div class="inner">

			<!-- One -->
			<section id="one" class="wrapper style1">

				<div class="image fit flush">
					<img src="{{ url_for('static', filename='images/china.png') }}" alt="" />
				</div>
				<header class="special">
					<h2>The Condition of China in this pandemic situation</h2>
					<p>The Centre point of Infection</p>
				</header>
				<div class="content">
					<p>
						China has reported 46 new coronavirus cases, including four local and 34 asymptomatic
						infections, while three more people have died due to the global pandemic, taking the death toll
						in the country to 3,339, health officials said here on Saturday.

						According to China's National Health Commission, the Chinese mainland reported a total of 1,183
						imported cases as of Friday. Of them, 449 have been discharged from hospitals after recovery,
						and 734 are being treated with 37 in severe condition.

						The overall confirmed cases in the country reached 81,953 by Friday, including 1,089 patients
						who were still being treated, 77,525 people discharged after recovery, and 3,339 people have
						died of the disease, it said. A total of 46 new confirmed COVID-19 cases were reported on
						Friday, of which 42 were imported, it added.
						Asymptomatic cases refer to people who are tested positive for the coronavirus but develop no
						symptoms such as fever, cough or sore throat. They are infectious and pose a risk of spreading
						to others. By Friday, 989 confirmed cases including four deaths had been reported in Hong Kong,
						45 confirmed cases in Macao and 382 in Taiwan including six deaths.
						Xi asked officials to strengthen monitoring and law enforcement of production safety even as
						coronavirus cases began to rise again in China following the return of Chinese nationals from
						abroad in big numbers. The authorities should firmly hold the bottom line of workplace safety,
						Xi was quoted as saying by the state-run Xinhua news agency on Friday. </p>
					<a href='http://localhost:5000/'>BACK</a>
				</div>

			</section>


			<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

</body>

</html>