<!DOCTYPE HTML>
<html>

<head>
	<title>The Condition of India</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
</head>

<body>

	<!-- Header -->
	<header id="header">
		<div class="logo"><a href="#">INDIA<span> its conditions in this pandemic</span></a></div>
	</header>

	<!-- Main -->
	<section id="main">
		<div class="inner">

			<!-- One -->
			<section id="one" class="wrapper style1">

				<div class="image fit flush">
					<img src="{{ url_for('static', filename='images/india.png') }}" alt="">
				</div>
				<header class="special">
					<h2>The Condition of China in this pandemic situation</h2>
					<p>The most affect neighbour of China</p>
				</header>
				<div class="content">
					<p>Coronavirus India update: With 1,718 new cases and 67 deaths in the past 24 hours, the total
						number of coronavirus cases in India rose to 33,062 on Thursday. So far, 1,079 people have died
						due to Covid-19 in the country. Indian states hit with most cases are Maharashtra (9,915),
						Gujarat (4,082), Delhi (3,439), Madhya Pradesh (2,561), Rajasthan (2,438), Tamil Nadu (2,162),
						and Uttar Pradesh (2,134). In a significant development, the Centre has now allowed migrant
						labourers, students, pilgrims and tourists who do not have any symptoms of coronavirus to go
						back to their home states. </p>
					<p> In December, while Wuhan province was witnessing the beginning of the actual Covid-19 pandemic,
						India was facing massive and violent uprisings. Hundreds of thousands of Indians protested all
						over the country against the discriminatory anti-Muslim citizenship law that had just been
						passed by its parliament—the Citizenship Amendment Act (CAA)—and as a backlash violent attacks
						occurred on universities and Muslim working-class neighbourhoods by armed vigilantes. All this
						while the authorities were negating the presence of community transmission of the virus despite
						the first cases appearing way back in January to finally declare a 21-day lockdown on the
						midnight of 24 March, with only a 4 hour notice. This announcement, as in France, has triggered
						migration from the cities to the countryside, but of a completely different nature: in India,
						the internal migrant workers, day labourers and the poor—deprived of resources—have decided to
						return to their native villages. This tragic and deadly exodus of migrants fleeing cities is the
						most visible stigmata of the profound health, economic and social crisis that this threefold
						essay offers to analyse.</p>
					<p>
						At the beginning of its national lockdown, India simply did not have enough testing kits and
						even if the government has given licenses to private companies to sell them in India, the
						constraint on testing lies in the number of laboratories. On 23rd of March, India had 118
						accredited labs for a population of 1.3 billion with huge geographical inequalities; Arunachal
						Pradesh (1,5 million) and Nagaland (3,3 million) had no testing centres, Bihar had only one
						accredited lab for a population of 110 million compared to 8 facilities in Rajasthan for a
						population of 80 million. Even if states were supplied with an infinite number of testing kits,
						government labs would not be able to utilise them, as their testing capacity is around 90
						samples per day. That’s why the government had allowed private players to conduct Covid-19
						tests, which means that even those who are not hospitalised can get tested but at their own
						cost. The price cap of 4500 INR (around 55 euros) per test by the government, is too high for
						most Indians. With stigma associated with the virus and the actual lockdown some accredited
						private labs have already declared that the task was just impossible. Considering the high price
						of private testing and all the logistical problems associated with the lockdown, most Indians
						are likely to depend only on the public system to get tested. In an already stretched and
						underfunded public healthcare system, money spent on the coronavirus tests leaves less for other
						public health problems as India spends only 3.7 percent of its total budget on health. A budget
						that is far too limited to respond to the massive need of intensive care that has been necessary
						in countries already impacted by Covid-19.
					</p>
					<p>
						What does “lockdown” mean in a context where people, not just the poorest, depend on mobility
						and sociability to make a living? Using culturalist clichés, many media have highlighted the
						“cultural” difficulty of accepting the principle of social distancing. Long before being a
						“cultural” issue, and if this argument is valid, in economies where informal employment is the
						rule rather than the exception, and where social protection remains the privilege of a minority,
						social connection and movement are simply necessary for survival and protection.</p>
					<p>
						India is characterized by the extent of informal employment. According to ILO statistics, 92% of
						jobs are informal in the sense that they exclude any form of protection, contract and guarantee
						of continuity (ILO 2016). India is also characterized by the crucial role of internal migration
						and circulation (Breman 2007; Picherit 2018). Largely underestimated by official statistics,
						these displacements give rise to various estimates of up to 100 million workers (Deshingkar and
						Akter 2009). While these workers’ movements have always existed, they have undoubtedly increased
						to meet the needs of a capitalist economy always in search of cheap and disciplined labour.
						Internal migration includes long-distance, inter-state migration, with massive flows from the
						poorest states in north-eastern India to the most employment-intensive states located in the
						west and south. Internal migration also includes short term forms of commuting from villages to
						nearby towns. With the massive decline in agriculture in recent decades, and even as India
						resists the rural exodus, many villagers survive by moving daily to nearby urban centres. Some
						of these migrants settle in cities, swelling the miserable mass of slums, but most remain
						attached to their home villages. The Indian labour force, and men in particular, is thus caught
						in a continuous flow, moving with the seasons and years according to opportunities, networks,
						and above all the needs of the capitalist system, while regularly returning home. The latter
						remains the pivot of family and village roots and identity.
					</p>
					<p>
						Movement is not just about finding jobs. These generate incomes that are both low and
						unpredictable. At the same time, households face incompressible and ever-increasing expenses:
						eating; maintaining housing, often precarious and therefore requiring constant renovation and
						improvement; sending children to school; charges for electricity, sometimes water and gas;
						social and religious rituals; durable consumer goods that are now required, including for work
						(mobile phones, two-wheeled motor vehicles). To these regular and incompressible expenses are
						added unforeseen expenses: health shocks, sudden loss of a job, legal fees, theft, seizure of
						land following a conflict or an unpaid debt and so forth.
					</p>
					<p>
						To cope with this mismatch between income flows and expenditures, individuals, both men and
						women, mobilize complex portfolios of financial practices in which debt is central. Savings are
						not completely absent, but among the poorest and for a large part of the rural population, they
						rarely take the form of monetary savings. Jewels, grains, livestock, as well as “social
						investments” (reciprocal gifts or loans) are much more common. Any surplus liquidity is often
						reinjected into the social network.
					</p>
					<p>
						Given the crucial importance of movement and sociability, we can therefore imagine that the
						lockdown will have absolutely devastating consequences, and it already has. The invisibility of
						migrant workers, a vital link in India’s economy, has become glaringly apparent. They have
						simply been ignored by the lockdown measures. Prime Minister Narendra Modi’s announcement of
						“stay home” provoked a massive influx of workers desperate to return home, even though transport
						infrastructure had already been drastically reduced. Testimonies collected over the first weeks
						of the lockdown in Tamil Nadu attest to widespread panic. The populations are used to shocks—the
						Tsunami in 2004, the demonetization in 2016—but the announcement of the lockdown seems much more
						frightening to them.
					</p>
					<p>
						Conversely, lenders demand their due and refuse to lend. The Reserve Bank of India has announced
						a moratorium regarding the suspension of loan repayments. But this does not concern small
						financial companies, even though they are the ones that target the poor. Those companies keep on
						sending messages and oral instructions to borrowers in order to enforce repayments. Nationalized
						banks and some finance companies allow the suspension, but borrowers have to fill the specific
						online forms that are not accessible for many of them, especially when borrowers are poor rural
						women. This moratorium applies even less to informal lenders. In such a context, how do people
						manage? For now, they are “adjusting”, as we were told. They are drawing on the few savings
						available. While monetary savings are limited, many families, often through women, have a few
						hundred or even a few thousand rupees secretly hidden and intended to cope in case of a hard
						blow. They save on food. But this coping strategy is not sustainable.
					</p>
					<a href='http://localhost:5000/'>BACK</a>
				</div>
			</section>


			<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

</body>

</html>