<!DOCTYPE HTML>
<html>

<head>
	<title>The Condition of WORLD</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
</head>

<body>

	<!-- Header -->
	<header id="header">
		<div class="logo"><a href="#">WORLD<span> its conditions in this pandemic</span></a></div>
	</header>

	<!-- Main -->
	<section id="main">
		<div class="inner">

			<!-- One -->
			<section id="one" class="wrapper style1">

				<div class="image fit flush">
					<img src="{{ url_for('static', filename='images/world.png') }}" alt="" />
				</div>
				<header class="special">
					<h2>The Condition of WORLD in this pandemic situation</h2>
					<p>A phase of silent aggression in human destruction!</p>
				</header>
				<div class="content">
					<p>Since 31 December 2019 and as of 29 April 2020, 3 052 370 cases of COVID-19 (in accordance with
						the applied case definitions and testing strategies in the affected countries) have been
						reported, including 216 563 deaths.</p>
						

						Cases have been reported from:
					</p>
					<p>Africa: 34 934 cases; the five countries reporting most cases are Egypt (5 042), South Africa (4
						996), Morocco (4 252), Algeria (3 649) and Cameroon (1 806).</p>

						<p>Asia: 490 252 cases; the five countries reporting most cases are Turkey (114 653), Iran (92
						584), China (83 940), India (31 332) and Saudi Arabia (20 077).</p>

						<p>America: 1 252 601 cases; the five countries reporting most cases are United States (1 012 583),
						Brazil (71 886), Canada (50 015), Peru (31 190) and Ecuador (24 258).</p>

						<p>Europe: 1 265 762 cases; the five countries reporting most cases are Spain (210 773), Italy (201
						505), United Kingdom (161 145), Germany (157 641) and France (126 835).</p>

						<p>Oceania: 8 125 cases; the five countries reporting most cases are Australia (6 738), New Zealand
						(1 126), Guam (145), French Polynesia (58) and Fiji (18).</p>

						<p>Other: 696 cases have been reported from an international conveyance in Japan.</p>

						<p>Deaths have been reported from:</p>

						<p>Africa: 1 525 deaths; the five countries reporting most deaths are Algeria (437), Egypt (359),
						Morocco (165), South Africa (93) and Cameroon (59).</p>

						<p>Asia: 17 846 deaths; the five countries reporting most deaths are Iran (5 877), China (4 637),
						Turkey (2 992), India (1 007) and Indonesia (773).</p>

						<p>America: 71 085 deaths; the five countries reporting most deaths are United States (58 355),
						Brazil (5 017), Canada (2 859), Mexico (1 569) and Ecuador (871).</p>

						<p>Europe: 125 986 deaths; the five countries reporting most deaths are Italy (27 359), Spain (23
						822), France (23 660), United Kingdom (21 678) and Belgium (7 331).</p>

						<p>Oceania: 114 deaths; the four countries reporting deaths are Australia (88), New Zealand (19),
						Guam (5) and Northern Mariana Islands (2).</p>

						<p>Other: 7 deaths have been reported from an international conveyance in Japan.</p>
					</p>

					<a href='http://covid19-home.herokuapp.com/'>BACK</a>
				</div>
			</section>


			<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

</body>

</html>